# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.venv
v-env
env/
venv/
ENV/

# Streamlit secrets / local config
.streamlit/secrets.toml

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
